%p
  Seen a diff file on the web and wish you could colourise it?
  
%p
  Enter the url into the box below and submit the form to see the results
  
%form
  %label{:for => "f"} URL
  %input{:name => "f", :id => "f"}
  %input{:type => "submit"}